@mixin slider($targetColor, $position, $widthcursor) {
  width: 245px;
  height: 49px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .progress__numbers {
    .progress__num {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 900;
      &_first {
        color: $targetColor;
        font-size: 24px;
        line-height: 28px;
      }
      &_slash {
        color: $targetColor;
        font-size: 24px;
        line-height: 28px;
      }
      &_last {
        color: #828282;
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
  .progress__slider {
    width: 100%;
    position: relative;
    height: 10px;
    display: flex;
    align-items: center;
    .progress__bar {
      background-color: #828282;
      height: 5px;
      width: 100%;
      cursor: pointer;
    }
    .progress__bar:hover{
      opacity: 0.7;
    }
    .progress__cursor {
      height: 10px;
      background-color: $targetColor;
      width: $widthcursor;
      position: absolute;
      left: $position;
      cursor: pointer;
      transition: all 0.3s;
    }
    .progress__cursor:hover{
      transform: scale(1.4);
    }
  }
}
@mixin btn($withIcon, $icon, $bg) {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $bg;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 900;
  color: #ffffff;
  border: none;
  cursor: pointer;
  &:hover{
    opacity: 0.6;
  }
  @if $withIcon {
    .icon {
      width: 32px;
      height: 29px;
      border: 1px solid white;
      border-radius: 25px;
      margin-right: 5px;
      background-image: url($icon);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  span {
    font-size: 18px;
    text-transform: uppercase;
  }
}
body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4f4f4f;
  .wrapper {
    margin: 0 auto;
    max-width: 1920px;
    overflow: hidden;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 94px;
      h1 {
        text-align: justify;
        line-height: 13px;
        margin-left: 125px;
      }
      p {
        margin: 0;
      }
      .header__zoo {
        font-family: "Roboto";
        font-weight: 900;
        font-size: 37px;
        padding-left: 26px;
        padding-top: 22px;
      }
      .header__online {
        padding-left: 28px;
        font-family: "Roboto";
        font-weight: 900;
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 23px;
        letter-spacing: 0px;
      }

      nav {
        width: 813px;
        ul {
          display: flex;
          justify-content: space-between;
          margin: 0;
          padding: 0;
          align-items: center;
          width: 100%;
          width: 607px;
          padding-top: 5px;
          padding-right: -16px;
          padding-left: 43px;
        }
        li {
          list-style: none;
          display: flex;
        }
        a {
          text-decoration: none;
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          color: black;
          
        }
        .active{
          cursor: pointer
        }
        .about{
          text-decoration: underline;
        }
        .active:hover{
          opacity: 0.8;
        }
      }

      .toggle-bg {
        background: #f2f2f2;
        display: block;
        float: left;
        height: 30px;
        position: relative;
        width: 54px;
        border-radius: 20px;
        right: 152px;
        top: 4px;
        cursor: pointer
      }
      .toggle-bg input {
        height: 20px;
        left: 0;
        margin: 0;
        opacity: 0;
        padding: 0;
        position: absolute;
        top: 5px;
        width: 20px;
        z-index: 2;
      }
      .toggle-bg:hover{
        background-color: black;
      }
      .switch {
        background: #ffffff;
        display: block;
        float: left;
        height: 20px;
        left: 6px;
        position: relative;
        top: 3.5px;
        width: 20px;
        z-index: 1;
        border-radius: 10px;
      }
      .toggle-bg input:checked ~ .switch {
        left: 6px;
      }

      .toggle-bg input ~ :checked ~ .switch {
        left: 20px;
      }

      .toggle-bg input:checked {
        z-index: 0;
      }
    }
    .map{   
    .map__container{
      display: flex;
      flex-direction: column;
      align-items: center;
      h2{
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        color: #333333;
      }
      p{
        width: 790px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: #4F4F4F;
      }
      .map__container__images{
        display: flex;
      }
      &__progress {
        @include slider(black, 0, 60px);
        margin: 30px auto;
       
      }
    }
    
  }
}
}