body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4f4f4f;
}
body .wrapper {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
}
body .wrapper .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 94px;
}
body .wrapper .header h1 {
  text-align: justify;
  line-height: 13px;
  margin-left: 125px;
}
body .wrapper .header p {
  margin: 0;
}
body .wrapper .header .header__zoo {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 37px;
  padding-left: 26px;
  padding-top: 22px;
}
body .wrapper .header .header__online {
  padding-left: 28px;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 23px;
  letter-spacing: 0px;
}
body .wrapper .header nav {
  width: 813px;
}
body .wrapper .header nav ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 100%;
  width: 607px;
  padding-top: 5px;
  padding-right: -16px;
  padding-left: 43px;
}
body .wrapper .header nav li {
  list-style: none;
  display: flex;
}
body .wrapper .header nav li .list__item {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: black;
  cursor: pointer;
  transition: all 0.5s ease-in;
}
body .wrapper .header nav li .list__item:hover {
  text-decoration: underline;
  font-weight: 900;
}
body .wrapper .header nav li .list__item.active {
  text-decoration: underline;
  font-weight: 900;
}
body .wrapper .header .toggle-bg {
  background: #f2f2f2;
  display: block;
  float: left;
  height: 30px;
  position: relative;
  width: 54px;
  border-radius: 20px;
  right: 152px;
  top: 4px;
  cursor: pointer;
}
body .wrapper .header .toggle-bg input {
  height: 20px;
  left: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 5px;
  width: 20px;
  z-index: 2;
}
body .wrapper .header .toggle-bg:hover {
  background-color: black;
}
body .wrapper .header .switch {
  background: #ffffff;
  display: block;
  float: left;
  height: 20px;
  left: 6px;
  position: relative;
  top: 3.5px;
  width: 20px;
  z-index: 1;
  border-radius: 10px;
}
body .wrapper .header .toggle-bg input:checked ~ .switch {
  left: 6px;
}
body .wrapper .header .toggle-bg input ~ :checked ~ .switch {
  left: 20px;
}
body .wrapper .header .toggle-bg input:checked {
  z-index: 0;
}
body .wrapper .container {
  display: flex;
  height: 903px;
}
body .wrapper .container .aside {
  position: sticky;
  top: 0;
  height: 600px;
  width: 209px;
}
body .wrapper .container .aside .aside__container .aside__container__images {
  align-items: center;
  text-align: center;
}
body .wrapper .container .aside .aside__container .aside__container__images .aside__container__animal {
  padding: 20px;
}
body .wrapper .container .aside .aside__container .aside__container__images .aside__container__animal img {
  width: 108px;
  height: 108px;
}
body .wrapper .container .aside .aside__container .aside__container__images .aside__container__animal img[alt=gorilla] {
  width: 157px;
  height: 157px;
}
body .wrapper .container .animal__video {
  padding: 55px 150px;
}
body .wrapper .container .animal__video h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
}
body .wrapper .container .content {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}
body .wrapper .container .content h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
}
body .wrapper .container .content .animal__video__container {
  width: 792px;
  height: 611px;
  display: grid;
  grid-template-areas: "big big big" "big big big" "one two three";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}
body .wrapper .container .content .animal__video__container .big-frame {
  grid-area: big;
  border-radius: 10px;
}
body .wrapper .container .content .animal__video__container .one {
  grid-area: one;
  border-radius: 10px;
}
body .wrapper .container .content .animal__video__container .two {
  grid-area: two;
  border-radius: 10px;
}
body .wrapper .container .content .animal__video__container .three {
  grid-area: three;
  border-radius: 10px;
}
body .wrapper .container .content .animal__info {
  flex: 1;
}
body .wrapper .container .content .animal__info .animal__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  border-radius: 5px;
  font-size: 18px;
  font-weight: 900;
  color: #ffffff;
  border: none;
  cursor: pointer;
  width: 194px;
  height: 55px;
}
body .wrapper .container .content .animal__info .animal__btn:hover {
  opacity: 0.6;
}
body .wrapper .container .content .animal__info .animal__btn span {
  font-size: 18px;
  text-transform: uppercase;
}
body .wrapper .footer {
  padding: 0 150px;
  display: flex;
  align-items: center;
  background-color: #333333;
  height: 751px;
  flex-direction: column;
}
body .wrapper .footer .footer__navigation__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 165px;
  padding: 75px 150px 0 150px;
}
body .wrapper .footer .footer__navigation__container h2 {
  text-align: justify;
  line-height: 13px;
  color: white;
  cursor: pointer;
}
body .wrapper .footer .footer__navigation__container h2 a {
  text-decoration: none;
  color: white;
}
body .wrapper .footer .footer__navigation__container h2 p {
  margin: 0;
}
body .wrapper .footer .footer__navigation__container h2 .footer__zoo {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 37px;
}
body .wrapper .footer .footer__navigation__container h2 .footer__online {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 20px;
  padding-top: 10px;
  letter-spacing: 0px;
}
body .wrapper .footer .footer__navigation__container .footer__navigation ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 300px;
  width: 385px;
  margin-left: 625px;
  margin-top: 20px;
}
body .wrapper .footer .footer__navigation__container .footer__navigation li {
  list-style: none;
  display: flex;
}
body .wrapper .footer .footer__navigation__container .footer__navigation a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: white;
}
body .wrapper .footer .footer__navigation__container .footer__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  border-radius: 5px;
  font-size: 18px;
  font-weight: 900;
  color: #ffffff;
  border: none;
  cursor: pointer;
  width: 279px;
  height: 55px;
}
body .wrapper .footer .footer__navigation__container .footer__btn:hover {
  opacity: 0.6;
}
body .wrapper .footer .footer__navigation__container .footer__btn span {
  font-size: 18px;
  text-transform: uppercase;
}
body .wrapper .footer .contacts__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 150px;
  margin-top: 30px;
}
body .wrapper .footer .contacts__wrapper h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  color: white;
}
body .wrapper .footer .contacts__wrapper .contact-us {
  display: flex;
  flex-direction: column;
  flex: 1;
}
body .wrapper .footer .contacts__wrapper .contact-us form {
  display: flex;
  flex-direction: column;
  width: 383px;
}
body .wrapper .footer .contacts__wrapper .contact-us form input {
  height: 26px;
  margin-top: 17px;
  outline: none;
  border: none;
  background: inherit;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}
body .wrapper .footer .contacts__wrapper .contact-us form fieldset {
  border: 1px solid white;
  margin-top: 26px;
  height: 122px;
}
body .wrapper .footer .contacts__wrapper .contact-us form fieldset legend {
  color: white;
}
body .wrapper .footer .contacts__wrapper .contact-us form fieldset textarea {
  width: 100%;
  height: 100%;
  background-color: inherit;
  border: none;
  resize: none;
}
body .wrapper .footer .contacts__wrapper .contact-us label {
  margin-top: 25px;
  color: #ffffff;
}
body .wrapper .footer .contacts__wrapper .contact-us label input {
  margin-right: 10px;
  color: white;
}
body .wrapper .footer .contacts__wrapper .contact-us .footer__btn {
  margin-top: 18px;
  width: 108px;
  align-self: flex-end;
  padding: 0px;
  margin-right: 14px;
  background-color: inherit;
  border: none;
  color: white;
  display: flex;
  gap: 25px;
  align-items: center;
  margin-right: 440px;
}
body .wrapper .footer .contacts__wrapper .footer__onlineCenter {
  flex: 1;
}
body .wrapper .footer .contacts__wrapper .footer__onlineCenter .footer__navigation ul {
  margin-left: -19px;
  display: contents;
  display: flex;
  justify-content: space-between;
  width: 158px;
  margin-top: 24px;
  align-items: center;
}
body .wrapper .footer .contacts__wrapper .footer__onlineCenter .footer__navigation ul li {
  list-style: none;
}
body .wrapper .footer .contacts__wrapper .footer__onlineCenter p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: white;
}
body .wrapper .footer .footer__names {
  width: 1700px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid white;
  margin-top: 78px;
}
body .wrapper .footer .footer__names p {
  margin-left: 36px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: white;
  line-height: 3px;
  margin-top: 14px;
}

/*# sourceMappingURL=style.css.map */
