@import "../normolize.css";

@mixin slider($targetColor, $position, $widthcursor) {
  width: 245px;
  height: 49px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .progress__numbers {
    .progress__num {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 900;
      &_first {
        color: $targetColor;
        font-size: 24px;
        line-height: 28px;
      }
      &_slash {
        color: $targetColor;
        font-size: 24px;
        line-height: 28px;
      }
      &_last {
        color: #828282;
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
  .progress__slider {
    width: 100%;
    position: relative;
    height: 10px;
    display: flex;
    align-items: center;
    .progress__bar {
      background-color: #828282;
      height: 5px;
      width: 100%;
    }
    .progress__cursor {
      height: 10px;
      background-color: $targetColor;
      width: $widthcursor;
      position: absolute;
      left: $position;
    }
  }
}

@mixin btn($withIcon, $icon, $bg) {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $bg;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 900;
  color: #ffffff;
  border: none;
  @if $withIcon {
    .icon {
      width: 32px;
      height: 29px;
      border: 1px solid white;
      border-radius: 25px;
      margin-right: 5px;
      background-image: url($icon);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  span {
    font-size: 18px;
    text-transform: uppercase;
  }
}

body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4f4f4f;
  .wrapper {
    margin: 0 auto;
    max-width: 1920px;
    overflow: hidden;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 94px;
      h1 {
        text-align: justify;
        line-height: 13px;
        margin-left: 125px;
      }
      p {
        margin: 0;
      }
      .header__zoo {
        font-family: "Roboto";
        font-weight: 900;
        font-size: 37px;
        padding-left: 26px;
        padding-top: 22px;
      }
      .header__online {
        padding-left: 28px;
        font-family: "Roboto";
        font-weight: 900;
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 23px;
        letter-spacing: 0px;
      }

      nav {
        width: 813px;
        ul {
          display: flex;
          justify-content: space-between;
          margin: 0;
          padding: 0;
          align-items: center;
          width: 100%;
          width: 607px;
          padding-top: 5px;
          padding-right: -16px;
          padding-left: 43px;
        }
        li {
          list-style: none;
          display: flex;
        }
        a {
          text-decoration: none;
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          color: black;
        }
      }

      .toggle-bg {
        background: #f2f2f2;
        display: block;
        float: left;
        height: 30px;
        position: relative;
        width: 54px;
        border-radius: 20px;
        right: 152px;
        top: 4px;
      }
      .toggle-bg input {
        height: 20px;
        left: 0;
        margin: 0;
        opacity: 0;
        padding: 0;
        position: absolute;
        top: 5px;
        width: 20px;
        z-index: 2;
      }
      .switch {
        background: #ffffff;
        display: block;
        float: left;
        height: 20px;
        left: 6px;
        position: relative;
        top: 3.5px;
        width: 20px;
        z-index: 1;
        border-radius: 10px;
      }
      .toggle-bg input:checked ~ .switch {
        left: 6px;
      }

      .toggle-bg input ~ :checked ~ .switch {
        left: 20px;
      }

      .toggle-bg input:checked {
        z-index: 0;
      }
    }
    .watchAnimals {
      background-image: url(/assets/images/main-bg.png);
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      &__title {
        max-width: 800px;
        width: 100%;
        margin: 205px 0 0 360px;
        font-weight: 900;
        font-size: 89px;
        color: white;
        line-height: 104px;
      }
      &__body {
        display: flex;
        align-items: flex-end;
        height: 527px;
      }
      &__animals.animals {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 421px;
        margin-left: 235px;
        align-self: end;
      }
      .animals {
        padding-left: 135px;
        img {
          position: absolute;
          left: 0;
          width: 100%;
          top: calc(350px / 2);
          z-index: 0;
        }
        &__slide {
          display: flex;
          overflow: hidden;
          width: 100%;
          align-items: center;
          gap: 46px;
          z-index: 1;
          .animals__panda {
            width: 245px;
            height: 352px;
            background-image: url(/assets/images/panda.jpg);
            background-size: cover;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            padding-bottom: 38px;
            p {
              color: white;
              width: 194px;
            }
            .panda__btns {
              display: flex;
              justify-content: center;
              .first {
                @include btn(
                  $withIcon: true,
                  $icon: "/assets/icons/rectangle-green.svg",
                  $bg: inherit
                );
                span {
                  color: transparent;
                  -webkit-background-clip: text;
                  background-clip: text;
                  background-image: linear-gradient(
                    106.89deg,
                    #4bd8b5 -14.32%,
                    #49d6df 100.68%
                  );
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 14px;
                }
                .icon {
                  width: 24px;
                  height: 24px;
                  border: 1px solid rgba(75, 216, 181, 1);
                }
              }
              .seconde {
                @include btn(
                  $withIcon: true,
                  $icon: "/assets/icons/$.svg",
                  $bg: inherit
                );
                span {
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 14px;
                }
                .icon {
                  width: 24px;
                  height: 24px;
                }
              }
            }
          }
          .animals__eagle {
            background-image: url(/assets/images/eagle.jpg);
            width: 140px;
            height: 203px;
            background-size: cover;
            border-radius: 5px;
          }
          .animals__gorilla {
            background-image: url(/assets/images/gorilla.jpg);
            width: 140px;
            height: 203px;
            background-size: cover;
            border-radius: 5px;
          }
          .animals__crocodile {
            background-image: url(/assets/images/aligator.jpg);
            width: 140px;
            height: 203px;
            background-size: cover;
            border-radius: 5px;
          }
          .animals__fox {
            background-image: url(/assets/images/fox.jpg);
            width: 96px;
            height: 203px;
            background-size: cover;
            border-radius: 5px;
          }
        }
        &__progress {
          margin-left: 20%;
          margin-top: 14px;
          @include slider(#fefefe, 27px, 30px);
        }
      }
      &__nav {
        margin: 0 0 111px 152px;
        ul {
          display: flex;
          flex-direction: column;
          padding: 0;
          margin: 0;
          width: 20px;
          height: 107px;
          justify-content: space-between;
          li {
            list-style: none;
          }
        }
      }
      &__btn {
        margin-left: 188px;
        align-self: end;
        margin-top: 38px;
        @include btn(
          $withIcon: true,
          $icon: "/assets/icons/rectangle.svg",
          $bg: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%)
        );
        min-width: 245px;
        height: 55px;
      }
    }

    .how-it-works {
      align-items: center;
      display: flex;
      flex-direction: column;
      padding: 100px 0;
      align-items: end;
      h2 {
        text-align: left;
        font-weight: 900;
        font-size: 48px;
        margin: 0 auto;
        line-height: 56px;
        max-width: 790px;
        width: 100%;
      }
      p {
        margin: 30px auto;
        max-width: 790px;
        width: 100%;
      }
      img {
        margin: 0 auto;
      }
      &__btn {
        @include btn(
          $withIcon: true,
          $icon: "/assets/icons/rectangle.svg",
          $bg: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%)
        );
        margin: 0 auto;
        width: 245px;
        height: 55px;
      }
      &__progress {
        @include slider(black, 0, 60px);
        margin: 30px auto;
      }
    }
    .infoAbout {
      padding: 100px;
      background-color: #f2f2f2;
      &__wrapper {
        max-width: 1200px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
      }
      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 380px;
        height: 213px;
        p {
          margin: 0;
        }
        h3 {
          font-family: Roboto;
          font-style: normal;
          font-weight: 900;
          font-size: 20px;
        }
      }
    }
    .petsInzoo {
      display: flex;
      flex-direction: column;
      padding: 100px 0;
      align-items: center;
      text-align: center;
      h2{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        margin: 0;
        margin-bottom: 55px;
        margin-top: 23px;
      }
      &__animals {
        display: flex;
        gap: 25px;
        max-width: 1300px;
        width: 100%;
        margin: 0 auto;
      }
      &__progress {
        @include slider(black, 0, 60px);
        margin: 30px auto;
      }
      &__btn {
        @include btn(
          $withIcon: false,
          $icon: "/assets/icons/rectangle.svg",
          $bg: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%)
        );
        margin: 0 auto;
        width: 245px;
        height: 55px;
      }
      .animals__panda {
        width: 278px;
        height: 399px;
        background-image: url(/assets/images/panda.jpg);
        background-size: cover;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 38px;
        p {
          color: white;
          width: 194px;
        }
        .panda__btns {
          display: flex;
          justify-content: center;
          .first {
            @include btn(
              $withIcon: true,
              $icon: "/assets/icons/rectangle-green.svg",
              $bg: inherit
            );
            span {
              color: transparent;
              -webkit-background-clip: text;
              background-clip: text;
              background-image: linear-gradient(
                106.89deg,
                #4bd8b5 -14.32%,
                #49d6df 100.68%
              );
              font-weight: 500;
              font-size: 12px;
              line-height: 14px;
            }
            .icon {
              width: 24px;
              height: 24px;
              border: 1px solid rgba(75, 216, 181, 1);
            }
          }
          .seconde {
            @include btn(
              $withIcon: true,
              $icon: "/assets/icons/$.svg",
              $bg: inherit
            );
            span {
              font-weight: 500;
              font-size: 12px;
              line-height: 14px;
            }
            .icon {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
    .payAndfeed{
      padding: 100px;
      background-color: #f2f2f2;
      h2 {
        text-align: left;
        font-weight: 900;
        font-size: 48px;
        margin: 0 auto;
        line-height: 56px;
        margin-top: -6px;
  
      }
      p {
        margin: 30px auto;
        max-width: 790px;
        width: 100%;
        margin-left: 259px;
      }
      &__wrapper {
        max-width: 1200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
      }
      &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1200px;
        height: 240px;
        margin-top: 64px;
        margin-bottom: 63px;
      }
    }
    .testimonials{
      &__progress {
        @include slider(black, 0, 60px);
        margin: 30px auto;
      }
      &__btn {
        @include btn(
          $withIcon: false,
          $icon: "/assets/icons/rectangle.svg",
          $bg: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%)
        );
        margin: 0 auto;
        width: 245px;
        height: 55px;
      }
    }
  }
}
