@import "../normolize.css";

@mixin slider($targetColor, $position, $widthcursor) {
  width: 245px;
  height: 49px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .progress__numbers {
    .progress__num {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 900;
      &_first {
        color: $targetColor;
        font-size: 24px;
        line-height: 28px;
      }
      &_slash {
        color: $targetColor;
        font-size: 24px;
        line-height: 28px;
      }
      &_last {
        color: #828282;
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
  .progress__slider {
    width: 100%;
    position: relative;
    height: 10px;
    display: flex;
    align-items: center;
    .progress__bar {
      background-color: #828282;
      height: 5px;
      width: 100%;
      cursor: pointer;
    }
    .progress__bar:hover {
      opacity: 0.7;
    }
    .progress__cursor {
      height: 10px;
      background-color: $targetColor;
      width: $widthcursor;
      position: absolute;
      left: $position;
      cursor: pointer;
      transition: all 0.3s;
    }
    .progress__cursor:hover {
      transform: scale(1.4);
    }
  }
}

@mixin btn($withIcon, $icon, $bg) {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $bg;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 900;
  color: #ffffff;
  border: none;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
  @if $withIcon {
    .icon {
      width: 32px;
      height: 29px;
      border: 1px solid white;
      border-radius: 25px;
      margin-right: 5px;
      background-image: url($icon);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  span {
    font-size: 18px;
    text-transform: uppercase;
  }
}

@mixin pets($src) {
  width: calc(100% / 4);
  height: 100%;
  background-image: url($src);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  &:hover {
    filter: brightness(80%);
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    filter: brightness(85%);
  }
  .animals__title {
    position: absolute;
    bottom: -100px;
    display: flex;
    transition: bottom 0.3s ease-in;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    z-index: 4;
    text-shadow: black 2px 2px 1px;
    p {
      color: white;
      width: 194px;
      cursor: pointer;
      background-color: inherit;
      opacity: 1;
    }
    .pets__btns {
      display: flex;
      justify-content: center;
      background-color: inherit;
      .first {
        @include btn(
          $withIcon: true,
          $icon: "../../assets/icons/rectangle-green.svg",
          $bg: inherit
        );

        span {
          color: transparent;
          -webkit-background-clip: text;
          background-clip: text;
          background-image: linear-gradient(
            106.89deg,
            #4bd8b5 -14.32%,
            #49d6df 100.68%
          );
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          text-shadow: #4bd8b5 0 0 1px;
        }
        .icon {
          width: 24px;
          height: 24px;
          border: 1px solid rgba(75, 216, 181, 1);
        }
      }
      .seconde {
        @include btn(
          $withIcon: true,
          $icon: "../../assets/icons/$.svg",
          $bg: inherit
        );
        span {
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
        }
        .icon {
          width: 24px;
          height: 24px;
        }
      }
    }

    &:hover {
      bottom: 20px;
    }
  }
  &:hover {
    .animals__title {
      bottom: 50px;
      color: #ffffff;
      // background-color: rgba(0,0,0,0.5);
    }
    // filter: brightness(70%);
    //   background-color: rgba(0,0,0,0.5);
  }
}
@mixin mapAnimalSticker($icon) {
}

body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4f4f4f;
  a {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: black;
  }
  .zoo {
    visibility: hidden;
    display: none;
  }
  .wrapper {
    margin: 0 auto;
    // max-width: 1920px;
    overflow: hidden;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 94px;
      padding: 0 125px;
      h1 {
        text-align: justify;
        line-height: 13px;
      }
      p {
        margin: 0;
      }
      .header__title {
        margin-left: 125px;
      }
      .header__zoo {
        font-family: "Roboto";
        font-weight: 900;
        font-size: 37px;
        padding-left: 26px;
        padding-top: 22px;
      }
      .header__online {
        padding-left: 28px;
        font-family: "Roboto";
        font-weight: 900;
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 23px;
        letter-spacing: 0px;
      }

      nav {
        width: 813px;
        ul {
          display: flex;
          justify-content: space-between;
          margin: 0;
          padding: 0;
          align-items: center;
          width: 100%;
          width: 607px;
          padding-top: 5px;
          padding-right: -16px;
          padding-left: 43px;
        }
        li {
          list-style: none;
          display: flex;

          .list__item {
            text-decoration: none;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            color: black;
            cursor: pointer;
            transition: all 0.5s ease-in;
            &:hover {
              opacity: 0.5;
              font-weight: 900;
              text-decoration: underline;
            }
          }
          .list__item_active {
            text-decoration: underline;
            font-weight: 900;
          }
        }
      }

      .toggle-bg {
        background: #f2f2f2;
        display: block;
        float: left;
        height: 30px;
        position: relative;
        width: 54px;
        border-radius: 20px;
        top: 4px;
        cursor: pointer;
      }
      .toggle-bg input {
        height: 30px;
        left: 0;
        margin: 0;
        opacity: 0;
        padding: 0;
        position: absolute;
        width: 55px;
        z-index: 2;
      }
      .toggle-bg:hover {
        background-color: black;
      }
      .switch {
        background: #ffffff;
        display: block;
        float: left;
        height: 20px;
        left: 6px;
        position: relative;
        top: 3.5px;
        width: 20px;
        z-index: 1;
        border-radius: 10px;
        transition: all 0.5s ease-in-out;
      }
      .toggle-bg input:checked ~ .switch {
        left: 5px;
      }

      .toggle-bg input ~ :checked ~ .switch {
        left: 30px;
      }

      .toggle-bg input:checked {
        z-index: 0;
      }
      @media screen and (max-width: 1200px) {
        .header__title {
          margin-left: 0%;
        }
        .header__navigation {
          width: 72%;
        }
      }
    }
    .watchAnimals {
      background-image: url(../../assets/images/main-bg.png);
      height: 940px;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      &__title {
        max-width: 800px;
        width: 100%;
        margin: 205px 0 0 360px;
        font-weight: 900;
        font-size: 89px;
        color: white;
        line-height: 104px;
      }
      &__body {
        display: flex;
        align-items: flex-end;
        height: 527px;
      }
      &__animals.animals {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 421px;
        margin-left: 235px;
        align-self: end;
      }
      .animals {
        padding-left: 135px;
        img {
          position: absolute;
          left: 0;
          width: 100%;
          top: calc(350px / 2);
          z-index: 0;
        }
        &__slide {
          display: flex;
          overflow: hidden;
          width: 100%;
          align-items: center;
          gap: 46px;
          z-index: 1;
          .animals__panda {
            width: 245px;
            height: 352px;
            background-image: url(../../assets/images/panda.jpg);
            background-size: cover;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            padding-bottom: 38px;
            cursor: pointer;
            transition: all 0.3s;
            p {
              color: white;
              width: 194px;
            }
            .panda__btns {
              display: flex;
              justify-content: center;

              .first {
                @include btn(
                  $withIcon: true,
                  $icon: "../../assets/icons/rectangle-green.svg",
                  $bg: inherit
                );
                span {
                  color: transparent;
                  -webkit-background-clip: text;
                  background-clip: text;
                  background-image: linear-gradient(
                    106.89deg,
                    #4bd8b5 -14.32%,
                    #49d6df 100.68%
                  );
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 14px;
                  cursor: pointer;
                }
                .icon {
                  width: 24px;
                  height: 24px;
                  border: 1px solid rgba(75, 216, 181, 1);
                  cursor: pointer;
                }
              }
              .seconde {
                @include btn(
                  $withIcon: true,
                  $icon: "../../assets/icons/$.svg",
                  $bg: inherit
                );
                span {
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 14px;
                  cursor: pointer;
                }
                .icon {
                  width: 24px;
                  height: 24px;
                  cursor: pointer;
                }
              }
            }
          }
          .animals__panda:hover {
            transform: scale(0.9);
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
          }
          .animals__eagle {
            background-image: url(../../assets/images/eagle.jpg);
            width: 140px;
            height: 203px;
            background-size: cover;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.3s;
          }
          .animals__eagle:hover {
            transform: scale(0.9);
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
          }
          .animals__gorilla {
            background-image: url(../../assets/images/gorilla.jpg);
            width: 140px;
            height: 203px;
            background-size: cover;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.3s;
          }
          .animals__gorilla:hover {
            transform: scale(0.9);
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
          }
          .animals__crocodile {
            background-image: url(../../assets/images/aligator.jpg);
            width: 140px;
            height: 203px;
            background-size: cover;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.3s;
          }
          .animals__crocodile:hover {
            transform: scale(0.9);
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
          }
          .animals__fox {
            background-image: url(../../assets/images/fox.jpg);
            width: 96px;
            height: 203px;
            background-size: cover;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.3s;
          }
          .animals__fox:hover {
            transform: scale(0.9);
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
          }
        }
        &__progress {
          margin-left: 23%;
          margin-top: 14px;
          @include slider(#fefefe, 27px, 30px);
        }
      }
      &__nav {
        margin: 0 0 111px 152px;
        ul {
          display: flex;
          flex-direction: column;
          padding: 0;
          margin: 0;
          width: 20px;
          height: 107px;
          justify-content: space-between;

          li {
            list-style: none;
          }
          a {
            display: inline-block;
            cursor: pointer;
            transition: transform 0.3s ease-in-out;
          }
          a:hover {
            transform: translate(5px, -1px);
          }
        }
      }
      &__btn {
        margin-left: 188px;
        align-self: end;
        margin-top: 38px;
        @include btn(
          $withIcon: true,
          $icon: "../../assets/icons/rectangle.svg",
          $bg: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%)
        );
        min-width: 245px;
        height: 55px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
      }
      &__btn:hover {
        opacity: 0.8;
        outline: none;
      }
      @media screen and (max-width: 1200px) {
        .watchAnimals__title {
          margin-top: 10.5%;
          margin-left: 12.5%;
        }
        .watchAnimals__btn {
          margin-left: -2%;
        }
        .animals {
          margin-left: 7%;
          margin-top: 9%;
        }
        .animals__slide {
          .animals__eagle {
            width: 160px;
            height: 243px;
          }
          .animals__gorilla {
            width: 152px;
            height: 225px;
          }
        }
        .watchAnimals__nav {
          margin-left: 12.2%;
          margin-bottom: 0.5%;
        }
      }
    }

    .how-it-works {
      align-items: center;
      display: flex;
      flex-direction: column;
      padding: 100px 0;
      align-items: end;
      h2 {
        text-align: left;
        font-weight: 900;
        font-size: 48px;
        margin: 0 auto;
        line-height: 56px;
        max-width: 790px;
        width: 100%;
      }
      p {
        margin: 30px auto;
        max-width: 790px;
        width: 100%;
      }
      img {
        margin: 0 auto;
        width: 100%;
        max-width: 790px;
        overflow: hidden;
      }
      &__btn {
        @include btn(
          $withIcon: true,
          $icon: "../../assets/icons/rectangle.svg",
          $bg: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%)
        );
        margin: 0 auto;
        width: 245px;
        height: 55px;
        cursor: pointer;
      }
      &__btn:hover {
        opacity: 0.8;
      }
      &__progress {
        @include slider(black, 0, 60px);
        margin: 30px auto;
      }
    }
    .infoAbout {
      padding: 100px 12%;
      background-color: #f2f2f2;
      &__wrapper {
        max-width: 1200px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        gap: 30px;
      }
      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 380px;
        height: 213px;
        p {
          margin: 0;
        }
        h3 {
          font-family: Roboto;
          font-style: normal;
          font-weight: 900;
          font-size: 20px;
        }
      }
      @media screen and (max-width: 1200px) {
        .infoAbout__item {
          width: 32%;
        }
      }
    }
    .petsInzoo {
      display: flex;
      flex-direction: column;
      padding: 100px 0;
      align-items: center;
      text-align: center;
      .arrow {
        cursor: pointer;
      }
      .arrow:hover {
        opacity: 0.5;
      }
      h2 {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        margin: 0;
        margin-bottom: 55px;
        margin-top: 23px;
      }
      &__animals {
        display: flex;
        gap: 25px;
        align-items: center;
        max-width: 1300px;
        max-height: 400px;
        width: 68vw;
        height: 22vw;
        margin: 0 auto;
        .animals__panda {
          @include pets($src: "../../assets/images/panda.jpg");
        }

        .animals__eagle {
          @include pets($src: "../../assets/images/eagle.jpg");
        }
        .animals__crocodile {
          @include pets($src: "../../assets/images/aligator.jpg");
        }
        .animals__gorilla {
          @include pets($src: "../../assets/images/gorilla2.png");
        }
        .arrow {
          width: 30px;
          height: 30px;
        }
      }

      &__progress {
        @include slider(black, 0, 60px);
        margin: 30px auto;
      }
      &__btn {
        @include btn(
          $withIcon: false,
          $icon: "../../assets/icons/rectangle.svg",
          $bg: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%)
        );
        margin: 0 auto;
        width: 245px;
        height: 55px;
        color: #ffffff;
      }
    }
    .payAndfeed {
      padding: 100px;
      background-color: #f2f2f2;
      h2 {
        text-align: center;
        font-weight: 900;
        font-size: 48px;
        margin: 0 auto;
        line-height: 56px;
        margin-top: -6px;
        align-items: center;
      }
      p {
        align-items: center;
        text-align: center;
        margin: 30px auto;
        max-width: 790px;
        width: 100%;
      }
      &__wrapper {
        max-width: 1200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
      }
      &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 64px;
        margin-bottom: 63px;
        .payAndfeed__item__image.arrow {
          display: flex;
          align-items: center;
          width: 10%;
          .arrow__body {
            flex: 1;
            height: 2px;
            background-color: #4bd8b5;
            right: -5px;
            position: relative;
          }
          .arrow__head {
            width: 15px;
            height: 15px;
            right: 5px;
            position: relative;
          }
        }
      }
      @media screen and (max-width: 1200px) {
      }
    }
    .testimonials {
      display: flex;
      flex-direction: column;
      padding: 100px 110px;
      align-items: center;
      text-align: center;
      h2 {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        margin: 0;
        margin-bottom: 69px;
        margin-top: 17px;
        align-items: center;
        text-align: center;
      }
      &__wrapper {
        max-width: 1300px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-top: 10px;
        gap: 20px;
        .arrow {
          cursor: pointer;
        }
        .arrow:hover {
          opacity: 0.5;
        }
        .testimonials__user {
          max-width: 585px;
          height: 310px;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
            0 10px 10px rgba(0, 0, 0, 0.22);
          img {
            width: 48px;
            height: 48px;
          }
          .user__image {
            width: 68px;
            height: 68px;
          }
          h3 {
            font-family: " Roboto";
            font-style: normal;
            font-weight: 900;
            font-size: 20px;
          }
          p {
            font-family: "Roboto";
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            max-width: 440px;
            width: 79%;
          }
        }
      }
      &__progress {
        @include slider(black, 27px, 30px);
        margin: 30px auto;
      }
      &__btn {
        @include btn(
          $withIcon: false,
          $icon: "../../assets/icons/rectangle.svg",
          $bg: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%)
        );
        margin: 0 auto;
        width: 245px;
        height: 55px;
      }
    }
    .map {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #f2f2f2;
      h2 {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        text-align: center;
        margin: 0;
        margin-top: 15px;
        margin-bottom: 80px;
      }
      .map__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-image: url(../../assets/images/Group.png);
        max-width: 1200px;
        max-height: 600px;
        height: 35.3vw;
        width: 100%;
        margin-bottom: 36px;
        position: relative;
        z-index: 2;
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        .animals__box {
          position: absolute;
          transition: all 0.3s ease-in-out;
          cursor: pointer;
          &:hover {
            .map__animalExample {
              visibility: visible;
            }
          }
          .animals__marker {
            position: absolute;
            transition: transform 0.5s ease-in-out;
            &:hover {
              fill: #f54141;
            }
          }
          .map__animalExample {
            display: flex;
            justify-content: space-evenly;
            width: 436px;
            box-shadow: 0 14px 28px rgb(0 0 0 / 25%),
              0 10px 10px rgb(0 0 0 / 22%);
            border-radius: 5px;
            position: absolute;
            bottom: 257px;
            height: 149px;
            right: 40px;
            top: 95px;
            z-index: 10;
            align-items: center;
            background-color: white;
            visibility: hidden;
            h4 {
              font-family: "Roboto";
              font-style: normal;
              font-weight: 900;
              font-size: 18px;
              margin-top: 10px;
            }
            p {
              font-family: "Roboto";
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
            }
            img {
              margin-right: 51px;
            }
            .example__info {
              margin-left: -104px;
              margin-top: -4px;
            }
            .animal__info {
              line-height: 2px;
            }
          }
          &.panda {
            top: 18%;
            right: 19.8%;
          }
          &.gorilla {
            bottom: 42%;
          }
          &.aligator {
            top: 21%;
            left: 20.5%;
          }
          &.eagle {
            left: 71%;
            top: 15%;
          }
        }
      }
      .map__btn {
        @include btn(
          $withIcon: true,
          $icon: "../../assets/icons/rectangle.svg",
          $bg: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%)
        );
        margin: 0 auto;
        width: 245px;
        height: 55px;
      }
      @media screen and (max-width: 640px) {
        padding: 40px 10px 60px 10px;
        h2 {
          font-size: 36px;
          margin-bottom: 36px;
        }
        .map__wrapper {
          margin-bottom: 39px;
          height: 45.3vw;
          min-height: 146px;
          min-width: 300px;
          .animals__box.panda {
            top: 10%;
            right: 16.8%;
            & > img {
              left: 18%;
              top: 10%;
              position: absolute;
            }
            .map__animalExample {
              height: 113px;
              width: 238px;
              right: -23px;
              top: 37px;
              z-index: 1;
              bottom: 318px;
              .example__image {
                img {
                  height: 40px;
                  width: 40px;
                  margin-left: 15px;
                  margin-right: 51px;
                  margin-bottom: 45px;
                }
              }
              .example__info {
                margin-left: -43px;
                margin-top: -4px;
                h4 {
                  font-size: 14px;
                  margin-top: 17px;
                }
                .animal__info {
                  line-height: 12px;
                  p {
                    font-size: 12px;
                  }
                }
              }
            }
          }
          .animals__box.eagle {
            left: 8%;
            top: 7%;
            & > img {
              left: 18%;
              top: 10%;
              position: absolute;
            }
            .map__animalExample {
              height: 113px;
              width: 238px;
              right: -200px;
              top: 41px;
              z-index: 1;
              bottom: 318px;
              .example__image {
                img {
                  height: 40px;
                  width: 40px;
                  margin-left: 15px;
                  margin-right: 51px;
                  margin-bottom: 45px;
                }
              }
              .example__info {
                margin-left: -43px;
                margin-top: -4px;
                h4 {
                  font-size: 14px;
                  margin-top: 17px;
                }
                .animal__info {
                  line-height: 12px;
                  p {
                    font-size: 12px;
                  }
                }
              }
            }
          }
          .animals__box.aligator {
            top: 13%;
            left: 17.5%;
            & > img {
              left: 18%;
              top: 10%;
              position: absolute;
            }
            .map__animalExample {
              height: 113px;
              width: 238px;
              right: -182px;
              top: 36px;
              z-index: 1;
              bottom: 318px;
              .example__image {
                img {
                  height: 40px;
                  width: 40px;
                  margin-left: 15px;
                  margin-right: 51px;
                  margin-bottom: 45px;
                }
              }
              .example__info {
                margin-left: -43px;
                margin-top: -4px;
                h4 {
                  font-size: 14px;
                  margin-top: 17px;
                }
                .animal__info {
                  line-height: 12px;
                  p {
                    font-size: 12px;
                  }
                }
              }
            }
          }
          .animals__box.gorilla {
            bottom: 32%;
            & > img {
              left: 18%;
              top: 10%;
              position: absolute;
            }
            .map__animalExample {
              height: 113px;
              width: 238px;
              right: -88px;
              top: 6px;
              z-index: 1;
              bottom: 318px;
              .example__image {
                img {
                  height: 40px;
                  width: 40px;
                  margin-left: 15px;
                  margin-right: 51px;
                  margin-bottom: 45px;
                }
              }
              .example__info {
                margin-left: -43px;
                margin-top: -4px;
                h4 {
                  font-size: 14px;
                  margin-top: 17px;
                }
                .animal__info {
                  line-height: 12px;
                  p {
                    font-size: 12px;
                  }
                }
              }
            }
          }
        }
        .map__btn {
          width: 245px;
        }
        .panda__marker {
          width: 34px;
          height: 47px;
        }
        .eagle__marker {
          width: 34px;
          height: 47px;
        }
        .aligator__marker {
          width: 34px;
          height: 47px;
        }
        .gorilla__marker {
          width: 34px;
          height: 47px;
        }
      }
      @media (min-width: 640px) and (max-width: 1200px){
        padding: 100px 20px 80px 20px;
        h2 {
          font-size: 48px;
          margin-bottom: 51px;
        }
        .map__wrapper {
          margin-bottom: 39px;
          height: 47.3vw;
          min-height: 146px;
          min-width: 300px;
          .animals__box.panda {
            top: 10%;
            right: 17.5%;
            .panda__marker{
              height: 94px;
              width: 67px;
            }
            & > img {
              position: absolute;
              left: 20%;
              top: 13%;
              height: 40px;
              width: 40px;
            }
            .map__animalExample {
              height: 147px;
              width: 436px;
              right: 4px;
              top: 66px;
              z-index: 1;
              .example__image {
                margin-left: 12px;
                img {
                  height: 65px;
                  width: 65px;
                  margin-left: 15px;
                  margin-right: 55px;
                  margin-bottom: 5px;
              }
              }
              .example__info {
                margin-left: -48px;
                margin-top: -4px;
                line-height: 4px;
                h4 {
                  font-size: 18px;
                  margin-top: 34px;
                  margin-left: 2px;
                }
                .animal__info {
                  margin-bottom: 31px;
                  line-height: 7px;
                  margin-right: 41px;
                  p {
                    font-size: 14px;
                  }
                }
              }
            }
          }
          .animals__box.eagle {
            left: 9%;
            top: 8%;
            .eagle__marker{
              height: 94px;
              width: 67px;
            }
            & > img {         
            height: 40px;
            width: 40px;
            left: 20%;
            top: 13%;
            position: absolute;
            }
            .map__animalExample {
              height: 147px;
              width: 436px;
              right: -373px;
              top: 73px;
              z-index: 1;
              .example__image {
                margin-left: 12px;
                img {
                  height: 65px;
                  width: 65px;
                  margin-left: 15px;
                  margin-right: 55px;
                  margin-bottom: 5px;
              }
              }
              .example__info {
                margin-left: -48px;
                margin-top: -4px;
                line-height: 4px;
                h4 {
                  font-size: 18px;
                  margin-top: 34px;
                  margin-left: 2px;
                }
                .animal__info {
                  margin-bottom: 31px;
                  line-height: 7px;
                  margin-right: 41px;
                  p {
                    font-size: 14px;
                  }
                }
              }
            }
          }
          .animals__box.aligator {
            top: 11%;
            left: 17%;
            .aligator__marker{
              height: 94px;
              width: 67px;
            }
            & > img {
              height: 40px;
              width: 40px;
              position: absolute;
              left: 20%;
              top: 13%;
            }
            .map__animalExample {
              height: 147px;
              width: 436px;
              right: -324px;
              top: 63px;
              z-index: 1;
              .example__image {
                margin-left: 12px;
                img {
                  height: 65px;
                  width: 65px;
                  margin-left: 15px;
                  margin-right: 55px;
                  margin-bottom: 5px;
              }
              }
              .example__info {
                margin-left: -48px;
                margin-top: -4px;
                line-height: 4px;
                h4 {
                  font-size: 18px;
                  margin-top: 34px;
                  margin-left: 2px;
                }
                .animal__info {
                  margin-bottom: 31px;
                  line-height: 7px;
                  margin-right: 41px;
                  p {
                    font-size: 14px;
                  }
                }
              }
            }
          }
          .animals__box.gorilla {
            bottom: 40%;
            .gorilla__marker{
              height: 94px;
              width: 67px;
            }
            & > img {
              height: 40px;
              width: 40px;
              position: absolute;
              left: 20%;
              top: 13%;
            }
            .map__animalExample {
              height: 147px;
              width: 436px;
              right: -146px;
              top: 11px;
              z-index: 1;
              .example__image {
                margin-left: 12px;
                img {
                  height: 65px;
                  width: 65px;
                  margin-left: 15px;
                  margin-right: 55px;
                  margin-bottom: 5px;
              }
              }
              .example__info {
                margin-left: -48px;
                margin-top: -4px;
                line-height: 4px;
                h4 {
                  font-size: 18px;
                  margin-top: 34px;
                  margin-left: 2px;
                }
                .animal__info {
                  margin-bottom: 31px;
                  line-height: 7px;
                  margin-right: 41px;
                  p {
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
        .map__btn {
          width: 245px;
        }
        .panda__marker {
          width: 34px;
          height: 47px;
        }
        .eagle__marker {
          width: 34px;
          height: 47px;
        }
        .aligator__marker {
          width: 34px;
          height: 47px;
        }
        .gorilla__marker {
          width: 34px;
          height: 47px;
        }
      }
      @media (min-width: 1200px) and (max-width: 1920px){
        padding: 100px 360px;
        h2 {
          font-size: 48px;
          margin-bottom: 30px;
          margin-top: 13px;
        }
        .map__wrapper {
          margin-bottom: -12px;
          height: 46.3vw;
          min-height: 146px;
          min-width: 300px;
          .animals__box.panda {
            top: 24%;
            right: 20%;
            .panda__marker{
              height: 94px;
              width: 67px;
            }
            & > img {
              position: absolute;
              left: 16%;
              top: 10%;
              height: 46px;
              width: 46px;
            }
            .map__animalExample {
              height: 147px;
              width: 436px;
              right: 13px;
              top: 73px;
              z-index: 1;
              .example__image {
                margin-left: 12px;
                img {
                  height: 65px;
                  width: 65px;
                  margin-left: 15px;
                  margin-right: 55px;
                  margin-bottom: 5px;
              }
              }
              .example__info {
                margin-left: -48px;
                margin-top: -4px;
                line-height: 4px;
                h4 {
                  font-size: 18px;
                  margin-top: 34px;
                  margin-left: 2px;
                }
                .animal__info {
                  margin-bottom: 31px;
                  line-height: 7px;
                  margin-right: 41px;
                  p {
                    font-size: 14px;
                  }
                }
              }
            }
          }
          .animals__box.eagle {
            left: 10%;
            top: 21%;
            .eagle__marker{
              height: 94px;
              width: 67px;
            }
            & > img {         
            height: 46px;
            width: 46px;
            left: 16%;
            top: 13%;
            position: absolute;
            }
            .map__animalExample {
              height: 147px;
              width: 436px;
              right: 33px;
              top: 78px;
              z-index: 1;
              .example__image {
                margin-left: 12px;
                img {
                  height: 65px;
                  width: 65px;
                  margin-left: 15px;
                  margin-right: 55px;
                  margin-bottom: 5px;
              }
              }
              .example__info {
                margin-left: -48px;
                margin-top: -4px;
                line-height: 4px;
                h4 {
                  font-size: 18px;
                  margin-top: 34px;
                  margin-left: 2px;
                }
                .animal__info {
                  margin-bottom: 31px;
                  line-height: 7px;
                  margin-right: 41px;
                  p {
                    font-size: 14px;
                  }
                }
              }
            }
          }
          .animals__box.aligator {
            top: 26%;
            left: 20%;
            .aligator__marker{
              height: 94px;
              width: 67px;
            }
            & > img {
              height: 46px;
              width: 46px;
              position: absolute;
              left: 18%;
              top: 11%;
            }
            .map__animalExample {
              height: 147px;
              width: 436px;
              right: 23px;
              top: 63px;
              z-index: 1;
              .example__image {
                margin-left: 12px;
                img {
                  height: 65px;
                  width: 65px;
                  margin-left: 15px;
                  margin-right: 55px;
                  margin-bottom: 5px;
              }
              }
              .example__info {
                margin-left: -48px;
                margin-top: -4px;
                line-height: 4px;
                h4 {
                  font-size: 18px;
                  margin-top: 34px;
                  margin-left: 2px;
                }
                .animal__info {
                  margin-bottom: 31px;
                  line-height: 7px;
                  margin-right: 41px;
                  p {
                    font-size: 14px;
                  }
                }
              }
            }
          }
          .animals__box.gorilla {
            bottom: 43%;
            .gorilla__marker{
              height: 94px;
              width: 67px;
            }
            & > img {
              height: 46px;
              width: 46px;
              position: absolute;
              left: 17%;
              top: 13%;
            }
            .map__animalExample {
              height: 147px;
              width: 436px;
              right: 15px;
              top: 11px;
              z-index: 1;
              .example__image {
                margin-left: 12px;
                img {
                  height: 65px;
                  width: 65px;
                  margin-left: 15px;
                  margin-right: 55px;
                  margin-bottom: 5px;
              }
              }
              .example__info {
                margin-left: -48px;
                margin-top: -4px;
                line-height: 4px;
                h4 {
                  font-size: 18px;
                  margin-top: 34px;
                  margin-left: 2px;
                }
                .animal__info {
                  margin-bottom: 31px;
                  line-height: 7px;
                  margin-right: 41px;
                  p {
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
        .map__btn {
          width: 245px;
        }
        .panda__marker {
          width: 34px;
          height: 47px;
        }
        .eagle__marker {
          width: 34px;
          height: 47px;
        }
        .aligator__marker {
          width: 34px;
          height: 47px;
        }
        .gorilla__marker {
          width: 34px;
          height: 47px;
        }
      }
      @media screen and (min-width: 1600px){

      }
    }

    .footer-wrapper {
      background-color: #333333;
    }
    .footer {
      max-width: 1920px;
      margin: 0 auto;
      h3 {
        font-weight: 900;
        font-size: 20px;
        color: white;
        margin: 0;
      }
      h2 {
        margin: 0;
      }
      &__title {
        p {
          margin: 0;
          color: white;
        }
        .footer__zoo {
          font-weight: 900;
          font-size: 37px;
        }
        .footer__online {
          font-weight: 900;
          font-size: 20px;
          padding-top: 10px;
          letter-spacing: 0px;
        }
      }
      &__navigation {
        ul {
          display: flex;
          justify-content: space-between;
          margin: 0;
          padding: 0;
          align-items: center;
        }
        li {
          list-style: none;
          display: flex;
        }
        a {
          text-decoration: none;
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          color: white;
        }
      }
      &__btn {
        @include btn(
          $withIcon: false,
          $icon: "../../assets/icons/rectangle.svg",
          $bg: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%)
        );
        margin: 0 auto;
        width: 274px;
        height: 54px;
      }
      &__contact-us {
        h3 {
          font-weight: 900;
          font-size: 20px;
          line-height: 23px;
          color: #fefefe;
          margin: 0;
        }
        form {
          margin-top: 18px;
          & > input {
            height: 26px;
            margin-top: 17px;
            outline: none;
            border: none;
            background: inherit;
            padding-bottom: 10px;
            border-bottom: 1px solid white;
            width: 100%;
            color: #e0e0e0;
          }
          fieldset {
            border: 1px solid white;
            margin-top: 26px;
            height: 122px;
            margin-bottom: 20px;
            legend {
              font-size: 12px;
              line-height: 14px;
              color: #bdbdbd;
            }
            textarea {
              width: 100%;
              height: 100%;
              background-color: inherit;
              border: none;
              resize: none;
            }
          }
          .check {
            color: #bdbdbd;
            font-size: 12px;
            line-height: 14px;
            label::before {
              content: "";
              display: inline-block;
              width: 1em;
              height: 1em;
              flex-shrink: 0;
              flex-grow: 0;
              border: 1px solid #bdbdbd;
              border-radius: 0.25em;
              margin-right: 3px;
              background-repeat: no-repeat;
              background-position: center center;
              background-size: 50% 50%;
            }
            input {
              position: absolute;
              opacity: 0;
            }
            input:checked + label::before {
              border-color: #0b76ef;
              background-color: #0b76ef;
              background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
            }
          }
          .form__btn {
            margin-top: 18px;
            width: 108px;
            align-self: flex-end;
            padding: 0px;
            background-color: inherit;
            border: none;
            color: white;
            display: flex;
            gap: 25px;
            align-items: center;
            cursor: pointer;
            margin-left: auto;
          }
          .footer__btn:hover {
            opacity: 0.5;
          }
        }
      }
      &__onlineCenter {
        h3 {
          font-size: 14px;
          line-height: 16px;
          text-transform: uppercase;
          color: white;
          margin: 0;
          margin-bottom: 36px;
        }
        .center__adress {
          display: flex;
          flex-direction: column;
          gap: 4px;
          margin-bottom: 20px;

          p {
            margin: 0;
            font-size: 14px;
            color: white;
          }
        }
        .center__conact {
          display: flex;
          flex-direction: column;
          gap: 4px;
          a > p {
            margin: 0;
            font-size: 14px;
            color: white;
          }
        }
        .center__navigation {
          margin-top: 21px;
          ul {
            display: flex;
            justify-content: space-between;
            width: 125px;
            align-items: center;
            padding: 0;
            margin: 0;
            li {
              list-style: none;
            }
            a {
              cursor: pointer;
            }
            a:hover {
              opacity: 0.5;
            }
          }
        }
      }
      &__names {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-top: 0.5px solid #fefefe;
        padding-top: 28px;
        p {
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          color: white;
          margin: 0;
        }
      }
      @media screen and (max-width: 640px) {
        padding: 53px 10px 27px 10px;
        display: grid;
        height: fit-content;
        grid-template-columns: 100%;
        grid-auto-rows: auto;
        grid-template-areas:
          "title"
          "navigation"
          "contact"
          "center"
          "button"
          "copywrite";

        & .footer__title {
          grid-area: title;
          margin-bottom: 45px;
        }
        &__navigation {
          grid-area: navigation;
          ul {
            flex-direction: column;
            align-items: flex-start;
          }
          li {
            margin-bottom: 8px;
          }
        }
        &__btn {
          grid-area: button;
          margin-top: 42px;
        }
        &__contact-us {
          grid-area: contact;
          margin-top: 14px;
        }
        &__onlineCenter {
          grid-area: center;
          margin-top: 54px;
        }
        &__names {
          grid-area: copywrite;
          margin-top: 79px;
          padding-top: 28px;
        }
      }
      @media (min-width: 640px) and (max-width: 1200px) {
        padding: 100px 20px 46px 20px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
          "title button"
          "navigation ."
          "contact contact"
          "center ."
          "copywrite copywrite";
        &__title {
          grid-area: title;
        }
        &__navigation {
          grid-area: navigation;
          margin-top: 20px;
          ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          }
          li {
            margin-bottom: 8px;
          }
        }
        &__btn {
          grid-area: button;
          margin: 0;
          margin-left: auto;
        }
        &__contact-us {
          grid-area: contact;
          margin-top: 14px;
          margin-right: 36%;
          form .form__btn {
            width: 124px;
          }
        }
        &__onlineCenter {
          grid-area: center;
          margin-top: 77px;
        }
        &__names {
          grid-area: copywrite;
          margin-top: 68px;
          padding-top: 28px;
        }
      }
      @media (min-width: 1200px) and (max-width: 1920px) {
        padding: 100px 150px 50px 150px;
        display: grid;
        grid-template-columns: 1.05fr 1fr;
        grid-template-rows: auto 280px auto auto;
        grid-template-areas:
          "title navigation"
          "contact center"
          "contact button"
          "copywrite copywrite";
        &__title {
          grid-area: title;
        }
        &__navigation {
          grid-area: navigation;
          margin-top: 20px;
          padding-right: 60px;
          ul {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
          }
          li {
            margin-bottom: 8px;
          }
        }
        &__btn {
          grid-area: button;
          margin: 0;
        }
        &__contact-us {
          grid-area: contact;
          margin-top: 66px;
          margin-right: 16%;
          form .form__btn {
            width: 124px;
          }
        }
        &__onlineCenter {
          grid-row-gap: 10px;
          grid-area: center;
          margin-top: 54px;
        }
        &__names {
          grid-area: copywrite;
          margin-top: 68px;
          padding-top: 28px;
        }
      }
      @media screen and (min-width: 1600px) {
        padding: 100px 150px 50px 150px;
        display: grid;
        grid-template-columns: 1.97fr 0.9fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
          "title navigation button"
          "contact center ."
          "copywrite copywrite copywrite";
        &__title {
          grid-area: title;
        }
        &__navigation {
          grid-area: navigation;
          margin-top: 20px;
          ul {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
          }
          li {
            margin-bottom: 8px;
          }
        }
        &__btn {
          grid-area: button;
          margin: 0;
          margin-left: auto;
        }
        &__contact-us {
          grid-area: contact;
          margin-top: 55px;
          margin-right: 53%;
          form .form__btn {
            width: 124px;
          }
        }
        &__onlineCenter {
          grid-row-gap: 10px;
          grid-area: center;
          margin-top: 54px;
        }
        &__names {
          grid-area: copywrite;
          margin-top: 63px;
          padding-top: 28px;
        }
      }
    }
  }
}
