@import "../normolize.css";

.wrapper {
  margin: 0 auto;
  max-width: 1920px;
  html {
    font-size: 10px;
  }
  body {
    font-size: 1.6rem;
    font-family: "Open Sans", Verdana, sans-serif;
    display: flex;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    h1 {
      text-align: justify;
      line-height: 13px;
      margin-left: 125px;
    }
    p {
      margin: 0;
    }
    .header__zoo {
      font-family: "Roboto";
      font-weight: 900;
      font-size: 37px;
      padding-left: 26px;
      padding-top: 47px;
    }
    .header__online {
      padding-left: 28px;
      font-family: "Roboto";
      font-weight: 900;
      font-size: 20px;
      padding-top: 10px;
      padding-bottom: 23px;
      letter-spacing: 0px;
    }

    nav {
      width: 813px;
      ul {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        align-items: center;
        width: 100%;
        width: 607px;
        padding-top: 30px;
        padding-right: -16px;
        padding-left: 43px;
      }
      li {
        list-style: none;
        display: flex;
      }
      a {
        text-decoration: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: black;
      }
    }

    .toggle-bg {
      background: #f2f2f2;
      display: block;
      float: left;
      height: 30px;
      position: relative;
      width: 54px;
      border-radius: 20px;
      right: 152px;
      top: 4px;
    }
    .toggle-bg input {
      height: 20px;
      left: 0;
      margin: 0;
      opacity: 0;
      padding: 0;
      position: absolute;
      top: 5px;
      width: 20px;
      z-index: 2;
    }
    .switch {
      background: #ffffff;
      display: block;
      float: left;
      height: 20px;
      left: 6px;
      position: relative;
      top: 3.5px;
      width: 20px;
      z-index: 1;
      border-radius: 10px;
    }
    .toggle-bg input:checked ~ .switch {
      left: 6px;
    }

    .toggle-bg input ~ :checked ~ .switch {
      left: 20px;
    }

    .toggle-bg input:checked {
      z-index: 0;
    }
  }
  .watchAnimals {
    background-image: url(/assets/images/main-bg.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
  }
  h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 89px;
    color: white;
    margin: 0;
    width: 800px;
  }
  .btn {
    background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
    border-radius: 5px;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 900;
    color: #ffffff;
    height: 55px;
    width: 245px;
  }
}
