body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4f4f4f;
}
body .wrapper {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
}
body .wrapper .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 94px;
  padding: 0 125px;
}
body .wrapper .header h1 {
  text-align: justify;
  line-height: 13px;
}
body .wrapper .header p {
  margin: 0;
}
body .wrapper .header .header__zoo {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 37px;
  padding-top: 22px;
}
body .wrapper .header .header__online {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 23px;
  letter-spacing: 0px;
}
body .wrapper .header .header__navigation {
  position: relative;
}
body .wrapper .header .header__navigation #checkMenu {
  display: none;
}
body .wrapper .header .header__navigation label {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
}
body .wrapper .header .header__navigation .burger-line {
  position: absolute;
  width: 40px;
  height: 4px;
  background-color: black;
}
body .wrapper .header .header__navigation ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 100%;
  width: 607px;
  padding-top: 5px;
  padding-right: -16px;
  padding-left: 43px;
}
body .wrapper .header .header__navigation ul li {
  list-style: none;
  display: flex;
}
body .wrapper .header .header__navigation ul li .list__item {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: black;
  cursor: pointer;
  transition: all 0.5s ease-in;
}
body .wrapper .header .header__navigation ul li .list__item:hover {
  opacity: 0.5;
  font-weight: 900;
  text-decoration: underline;
}
body .wrapper .header .header__navigation ul li .list__item_active {
  text-decoration: underline;
  font-weight: 900;
}
body .wrapper .header .toggle-bg {
  background: #f2f2f2;
  display: block;
  float: left;
  height: 30px;
  position: relative;
  width: 54px;
  border-radius: 20px;
  top: 4px;
  cursor: pointer;
}
body .wrapper .header .toggle-bg input {
  height: 30px;
  left: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  width: 55px;
  z-index: 2;
}
body .wrapper .header .toggle-bg:hover {
  background-color: black;
}
body .wrapper .header .switch {
  background: #ffffff;
  display: block;
  float: left;
  height: 20px;
  left: 6px;
  position: relative;
  top: 3.5px;
  width: 20px;
  z-index: 1;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
body .wrapper .header .toggle-bg input:checked ~ .switch {
  left: 5px;
}
body .wrapper .header .toggle-bg input ~ :checked ~ .switch {
  left: 30px;
}
body .wrapper .header .toggle-bg input:checked {
  z-index: 0;
}
@media screen and (max-width: 639px) {
  body .wrapper .header {
    padding: 10px 25px;
  }
  body .wrapper .header .header__title {
    flex: 1;
  }
  body .wrapper .header .header__navigation {
    display: flex;
    order: 3;
    margin-left: 10px;
  }
  body .wrapper .header .header__navigation .burger__wrapper {
    width: 40px;
    height: 21px;
    position: relative;
  }
  body .wrapper .header .header__navigation .burger__wrapper .burger-line {
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: black;
  }
  body .wrapper .header .header__navigation .burger__wrapper .first {
    bottom: 15px;
  }
  body .wrapper .header .header__navigation .burger__wrapper .second {
    bottom: 8px;
  }
  body .wrapper .header .header__navigation .burger__wrapper .third {
    bottom: 1px;
    width: 32px;
  }
  body .wrapper .header .header__navigation ul {
    transform: translateY(61px);
    display: none;
  }
  body .wrapper .header .header__switch {
    order: 0;
  }
}
@media (min-width: 639px) and (max-width: 1199px) {
  body .wrapper .header {
    padding: 20px 25px;
  }
  body .wrapper .header .header__title {
    flex: 1;
  }
  body .wrapper .header .header__navigation {
    display: flex;
    order: 3;
    margin-left: 10px;
  }
  body .wrapper .header .header__navigation .burger__wrapper {
    width: 40px;
    height: 21px;
    position: relative;
  }
  body .wrapper .header .header__navigation .burger__wrapper .burger-line {
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: black;
  }
  body .wrapper .header .header__navigation .burger__wrapper .first {
    bottom: 15px;
  }
  body .wrapper .header .header__navigation .burger__wrapper .second {
    bottom: 8px;
  }
  body .wrapper .header .header__navigation .burger__wrapper .third {
    bottom: 1px;
    width: 32px;
  }
  body .wrapper .header .header__navigation ul {
    transform: translateY(61px);
    display: none;
  }
  body .wrapper .header .header__switch {
    order: 0;
  }
}
@media (min-width: 1200px) and (max-width: 1920px) {
  body .wrapper .header .header__navigation .burger__wrapper {
    display: none;
  }
}
@media screen and (min-width: 1921px) {
  body .wrapper .header .header__navigation .burger__wrapper {
    display: none;
  }
}
body .wrapper .container {
  display: flex;
  height: 903px;
}
body .wrapper .container .aside {
  position: sticky;
  top: 0;
  height: 600px;
  width: 209px;
}
body .wrapper .container .aside .aside__container .aside__container__images {
  align-items: center;
  text-align: center;
  cursor: pointer;
}
body .wrapper .container .aside .aside__container .aside__container__images .aside__container__animal {
  padding: 20px;
}
body .wrapper .container .aside .aside__container .aside__container__images .aside__container__animal img {
  width: 108px;
  height: 108px;
}
body .wrapper .container .aside .aside__container .aside__container__images .aside__container__animal img[alt=panda] {
  width: 157px;
  height: 157px;
}
body .wrapper .container .aside .aside__container .aside__container__images:hover {
  opacity: 0.5;
}
body .wrapper .container .animal__video {
  padding: 55px 150px;
}
body .wrapper .container .animal__video h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
}
body .wrapper .container .content {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}
body .wrapper .container .content h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
}
body .wrapper .container .content .animal__video__container {
  width: 792px;
  height: 611px;
  display: grid;
  grid-template-areas: "big big big" "big big big" "one two three";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}
body .wrapper .container .content .animal__video__container .big-frame {
  grid-area: big;
  border-radius: 10px;
}
body .wrapper .container .content .animal__video__container .one {
  grid-area: one;
  border-radius: 10px;
}
body .wrapper .container .content .animal__video__container .two {
  grid-area: two;
  border-radius: 10px;
}
body .wrapper .container .content .animal__video__container .three {
  grid-area: three;
  border-radius: 10px;
}
body .wrapper .container .content .animal__info {
  flex: 1;
}
body .wrapper .container .content .animal__info .animal__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  border-radius: 5px;
  font-size: 18px;
  font-weight: 900;
  color: #ffffff;
  border: none;
  cursor: pointer;
  width: 194px;
  height: 55px;
}
body .wrapper .container .content .animal__info .animal__btn:hover {
  opacity: 0.6;
}
body .wrapper .container .content .animal__info .animal__btn span {
  font-size: 18px;
  text-transform: uppercase;
}
body .wrapper .footer-wrapper {
  background-color: #333333;
}
body .wrapper .footer {
  max-width: 1920px;
  margin: 0 auto;
}
body .wrapper .footer h3 {
  font-weight: 900;
  font-size: 20px;
  color: white;
  margin: 0;
}
body .wrapper .footer h2 {
  margin: 0;
}
body .wrapper .footer__title p {
  margin: 0;
  color: white;
}
body .wrapper .footer__title .footer__zoo {
  font-weight: 900;
  font-size: 37px;
}
body .wrapper .footer__title .footer__online {
  font-weight: 900;
  font-size: 20px;
  padding-top: 10px;
  letter-spacing: 0px;
}
body .wrapper .footer__navigation ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  align-items: center;
}
body .wrapper .footer__navigation li {
  list-style: none;
  display: flex;
}
body .wrapper .footer__navigation a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: white;
}
body .wrapper .footer__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  border-radius: 5px;
  font-size: 18px;
  font-weight: 900;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  width: 274px;
  height: 54px;
}
body .wrapper .footer__btn:hover {
  opacity: 0.6;
}
body .wrapper .footer__btn span {
  font-size: 18px;
  text-transform: uppercase;
}
body .wrapper .footer__contact-us h3 {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #fefefe;
  margin: 0;
}
body .wrapper .footer__contact-us form {
  margin-top: 18px;
}
body .wrapper .footer__contact-us form > input {
  height: 26px;
  margin-top: 17px;
  outline: none;
  border: none;
  background: inherit;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  width: 100%;
  color: #e0e0e0;
}
body .wrapper .footer__contact-us form fieldset {
  border: 1px solid white;
  margin-top: 26px;
  height: 122px;
  margin-bottom: 20px;
}
body .wrapper .footer__contact-us form fieldset legend {
  font-size: 12px;
  line-height: 14px;
  color: #bdbdbd;
}
body .wrapper .footer__contact-us form fieldset textarea {
  width: 100%;
  height: 100%;
  background-color: inherit;
  border: none;
  resize: none;
}
body .wrapper .footer__contact-us form .check {
  color: #bdbdbd;
  font-size: 12px;
  line-height: 14px;
}
body .wrapper .footer__contact-us form .check label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #bdbdbd;
  border-radius: 0.25em;
  margin-right: 3px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
body .wrapper .footer__contact-us form .check input {
  position: absolute;
  opacity: 0;
}
body .wrapper .footer__contact-us form .check input:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
body .wrapper .footer__contact-us form .form__btn {
  margin-top: 18px;
  width: 108px;
  align-self: flex-end;
  padding: 0px;
  background-color: inherit;
  border: none;
  color: white;
  display: flex;
  gap: 25px;
  align-items: center;
  cursor: pointer;
  margin-left: auto;
}
body .wrapper .footer__contact-us form .footer__btn:hover {
  opacity: 0.5;
}
body .wrapper .footer__onlineCenter h3 {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: white;
  margin: 0;
  margin-bottom: 36px;
}
body .wrapper .footer__onlineCenter .center__adress {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 20px;
}
body .wrapper .footer__onlineCenter .center__adress p {
  margin: 0;
  font-size: 14px;
  color: white;
}
body .wrapper .footer__onlineCenter .center__conact {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
body .wrapper .footer__onlineCenter .center__conact a > p {
  margin: 0;
  font-size: 14px;
  color: white;
}
body .wrapper .footer__onlineCenter .center__navigation {
  margin-top: 21px;
}
body .wrapper .footer__onlineCenter .center__navigation ul {
  display: flex;
  justify-content: space-between;
  width: 125px;
  align-items: center;
  padding: 0;
  margin: 0;
}
body .wrapper .footer__onlineCenter .center__navigation ul li {
  list-style: none;
}
body .wrapper .footer__onlineCenter .center__navigation ul a {
  cursor: pointer;
}
body .wrapper .footer__onlineCenter .center__navigation ul a:hover {
  opacity: 0.5;
}
body .wrapper .footer__names {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 0.5px solid #fefefe;
  padding-top: 28px;
}
body .wrapper .footer__names p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: white;
  margin: 0;
}
@media screen and (max-width: 640px) {
  body .wrapper .footer {
    padding: 53px 10px 27px 10px;
    display: grid;
    height: fit-content;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    grid-template-areas: "title" "navigation" "contact" "center" "button" "copywrite";
  }
  body .wrapper .footer .footer__title {
    grid-area: title;
    margin-bottom: 15px;
  }
  body .wrapper .footer__navigation {
    grid-area: navigation;
  }
  body .wrapper .footer__navigation ul {
    flex-direction: column;
    align-items: flex-start;
  }
  body .wrapper .footer__navigation li {
    margin-bottom: 8px;
  }
  body .wrapper .footer__btn {
    grid-area: button;
    margin-top: 42px;
  }
  body .wrapper .footer__contact-us {
    grid-area: contact;
    margin-top: 14px;
  }
  body .wrapper .footer__onlineCenter {
    grid-area: center;
    margin-top: 54px;
  }
  body .wrapper .footer__names {
    grid-area: copywrite;
    margin-top: 79px;
    padding-top: 28px;
  }
}
@media (min-width: 640px) and (max-width: 1200px) {
  body .wrapper .footer {
    padding: 100px 20px 46px 20px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "title button" "navigation ." "contact contact" "center ." "copywrite copywrite";
  }
  body .wrapper .footer__title {
    grid-area: title;
  }
  body .wrapper .footer__navigation {
    grid-area: navigation;
    margin-top: 20px;
  }
  body .wrapper .footer__navigation ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  body .wrapper .footer__navigation li {
    margin-bottom: 8px;
  }
  body .wrapper .footer__btn {
    grid-area: button;
    margin: 0;
    margin-left: auto;
  }
  body .wrapper .footer__contact-us {
    grid-area: contact;
    margin-top: 14px;
    margin-right: 36%;
  }
  body .wrapper .footer__contact-us form .form__btn {
    width: 124px;
  }
  body .wrapper .footer__onlineCenter {
    grid-area: center;
    margin-top: 77px;
  }
  body .wrapper .footer__names {
    grid-area: copywrite;
    margin-top: 68px;
    padding-top: 28px;
  }
}
@media (min-width: 1200px) and (max-width: 1920px) {
  body .wrapper .footer {
    padding: 100px 150px 50px 150px;
    display: grid;
    grid-template-columns: 1.05fr 1fr;
    grid-template-rows: auto 280px auto auto;
    grid-template-areas: "title navigation" "contact center" "contact button" "copywrite copywrite";
  }
  body .wrapper .footer__title {
    grid-area: title;
  }
  body .wrapper .footer__navigation {
    grid-area: navigation;
    margin-top: 20px;
    padding-right: 60px;
  }
  body .wrapper .footer__navigation ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  body .wrapper .footer__navigation li {
    margin-bottom: 8px;
  }
  body .wrapper .footer__btn {
    grid-area: button;
    margin: 0;
  }
  body .wrapper .footer__contact-us {
    grid-area: contact;
    margin-top: 66px;
    margin-right: 16%;
  }
  body .wrapper .footer__contact-us form .form__btn {
    width: 124px;
  }
  body .wrapper .footer__onlineCenter {
    grid-row-gap: 10px;
    grid-area: center;
    margin-top: 54px;
  }
  body .wrapper .footer__names {
    grid-area: copywrite;
    margin-top: 68px;
    padding-top: 28px;
  }
}
@media screen and (min-width: 1600px) {
  body .wrapper .footer {
    padding: 100px 150px 50px 150px;
    display: grid;
    grid-template-columns: 1.97fr 0.9fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "title navigation button" "contact center ." "copywrite copywrite copywrite";
  }
  body .wrapper .footer__title {
    grid-area: title;
  }
  body .wrapper .footer__navigation {
    grid-area: navigation;
    margin-top: 20px;
  }
  body .wrapper .footer__navigation ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  body .wrapper .footer__navigation li {
    margin-bottom: 8px;
  }
  body .wrapper .footer__btn {
    grid-area: button;
    margin: 0;
    margin-left: auto;
  }
  body .wrapper .footer__contact-us {
    grid-area: contact;
    margin-top: 55px;
    margin-right: 53%;
  }
  body .wrapper .footer__contact-us form .form__btn {
    width: 124px;
  }
  body .wrapper .footer__onlineCenter {
    grid-row-gap: 10px;
    grid-area: center;
    margin-top: 54px;
  }
  body .wrapper .footer__names {
    grid-area: copywrite;
    margin-top: 63px;
    padding-top: 28px;
  }
}

/*# sourceMappingURL=style.css.map */
